# Default ignored files
/../../EitvydasRaudoniusAutomat./.idea/shelf/
/../../EitvydasRaudoniusAutomat./.idea/workspace.xml
# Datasource local storage ignored files
/../../EitvydasRaudoniusAutomat./.idea/dataSources/
/../../EitvydasRaudoniusAutomat./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../EitvydasRaudoniusAutomat./.idea/httpRequests/
